<% include ../partials/header %>

<body class="full">
    <header id="top" class="header">
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <div class="text-vertical-center">
                <img src="images/blank.jpg" alt="blank-chip" width="300" />
                <p>
                    <br/>
                </p>
                <h4 style="font-size: 15pt; font-family: Courier New;">
                    Hi, Blank Chip here! <br/>
                </h4>
                <p>
                    Great to see you! <br/>I'm Blank Chip, a Computer Programmer.<br/>Welcome to my portfolio website.
                </p>
                <br/>
                <a href="/about" class="btn btn-dark btn-lg">More about me!</a>
            </div>
        </div>
    </header>
</body>
<% include ../partials/footer %>