<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> Portfolio </h1>
            </div>

            <!-- Projects -->
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <a href="https://github.com/Shahid412/food-ordering">
                        <img class="img-responsive" src="../images/php-coding.png" alt="Food Ordering">
                    </a>
                    <h4>
                    <a href="https://github.com/Shahid412/food-ordering">PHP Food Ordering</a>
                    </h4>
                    <p>PHP Food Ordering Website built in HTML, CSS, JavaScript, Bootstrap and others...</p>
                </div>
                <div class="col-md-6 portfolio-item">
                    <a href="https://github.com/Shahid412/soccer-club">
                        <img class="img-responsive" src="../images/socc.jpg" alt="Soccer">
                    </a>
                    <h4>
                    <a href="https://github.com/Shahid412/soccer-club">Soccer Club Website</a>
                    </h4>
                    <p>Soccer club news, players information, ties, matches, schedules, and everything.... </p>
                </div>
            </div>
            <!-- end of first row -->

            <!-- Projects -->
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <a href="https://github.com/Shahid412/cargos-frontend">
                        <img class="img-responsive" src="../images/cargo.png" alt="Cargo">
                    </a>
                    <h4>
                    <a href="https://github.com/Shahid412/cargos-frontend">Cargo Front-end Website</a>
                    </h4>
                    <p>Cargo Frontend with HTML, CSS, JavaScript, Bootstrap and many more... </p>
                </div>
                <div class="col-md-6 portfolio-item">
                    <a href="https://github.com/Shahid412/students-management">
                        <img class="img-responsive" src="../images/sms-interface.png" alt="SMS">
                    </a>
                    <h4>
                    <a href="https://github.com/Shahid412/students-management">Student Management System - SMS</a>
                    </h4>
                    <p>A website with Content Management System built on PHP, MySQL, Bootstrap, HTML and CSS...</p>
                </div>
            </div>
            <!-- end of second row -->
        </div>
    </main>
    <% include ../partials/footer %>