<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> Services </h1>
            </div>
            <img class="serviceimg" src="../images/web.jpg" alt="services" width="600"><br/>
            <img class="serviceimg" src="../images/python.jpg" alt="services" width="600"><br/>
            <img class="serviceimg" src="../images/cms.png" alt="services" width="600"><br/>
            <img class="serviceimg" src="../images/top5-lib.jpg" alt="services" width="600"><br/>

            <h2>Web Development</h2>
                <ul>
                    <li>Backend Development</li>
                    <li>Frontend Design</li>
                    <li>Content Management</li>
                    <li>Business apps</li>
                </ul>
                <h2>Python and Data Science</h2>
                <ul>
                    <li>Data Analysis</li>
                    <li>Core Python</li>
                    <li>Libraries</li>
                    <li>Machine learning</li>
                    <li>Big Data</li>
                    <li>Natural Panguage Processing </li>
                </ul>
            <p>Want to know more? <a href="/contact">Click here</a> to send me a mail.<br/><br/></p>
        </div>
    </main>
</body>
<% include ../partials/footer %>